
.select2 {
  clear: both;
}

.select2-container .select2-selection {
  background-color: #fffbf6 !important;
  border: 1px solid #140112 !important;
  height: 2.5rem !important;
}

.select2-container .select2-selection__rendered {
  color: #000000 !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.5rem !important;
}

.select2-container .select2-selection__clear {
  clear: unset;
  /*display: none !important;*/
}

.select2-container--disabled .select2-selection {
  background-color: rgb(96 58 151 / 20%) !important;
  cursor: not-allowed;
  opacity: 0.7;
}

.select2-container .select2-selection__arrow {
  height: 2.5rem !important;
}

.select2-container .select2-selection__choice {
  color: var(--color-black);
  line-height:1.5rem !important;
}
